<div>
<li>
	{{id}},
	{{burger_name}}
</li>
</div>

<div>
<li>
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}EAT TIME!{{else}}HURRY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> 
	
</li>
</div>
